In [55]:
import pandas as pd

df = pd.read_csv("units-conversion-table.csv", sep=",")
df = df.rename(columns={'conversion_type': 'Conversion_type',
                        'from': 'From',
                        'to': 'To',
                        'multiply_by': 'Multiply_by'}, inplace=False)
solitude_type = [i for i in df.Conversion_type.unique()]
solitude_type_num = [i for i in range(1, len(solitude_type) + 1)]
solitude_type = zip(solitude_type_num, solitude_type)
d_solitude_type = dict(solitude_type)
for i in d_solitude_type.keys():
    print(i, d_solitude_type.get(i))
print("Категории конвертации. Введите число соответствующее нужной категории.")
sel_1 = int(input())
type_get = d_solitude_type.get(sel_1)
solitude_from = [i for i in
                 df[df["Conversion_type"] == type_get].From.unique()]
solitude_from_num = [i for i in range(1, len(solitude_from) + 1)]
solitude_from = zip(solitude_from_num, solitude_from)
d_solitude_from = dict(solitude_from)
for i in d_solitude_from.keys():
    print(i, d_solitude_from.get(i))
print("В данной категории возможна конвертация следующих штуковин. "
      "Введите число соответствующее нужной штуковине,"
      " из которой Вы хотите конвертировать.")
[print(i[0], i[1]) for i in solitude_from]
sel_2 = int(input())
print("В какую штуковину из списка выше вы хотите конвертировать?")
sel_3 = int(input())
print("Сколько у вас штуковин для конвертации?")
sel_2_value = float(input())
print("Результат:")
print(sel_2_value * float(df[(df['From'] == d_solitude_from.get(sel_2)) & \
                             (df['To'] == d_solitude_from.get(sel_3))].iloc[0]["Multiply_by"]))

1 Length
2 Mass
3 Speed
4 Volume
5 Area
6 Fuel consumption
7 Time
8 Digital Storage
Категории конвертации. Введите число соответствующее нужной категории.
4
1 US gal
2 US quart
3 US pint
4 US cup
5 US oz
6 US tbsp.
7 US tsp.
8 Cubic meter
9 Liter
10 Milliliter
11 Imperial gal
12 Imperial quart
13 Imperial pint
14 Imperial oz
15 Imperial tbsp.
16 Imperial tsp.
17 Cubic foot
18 Cubic inch
В данной категории возможна конвертация следующих штуковин. Введите число соответствующее нужной штуковине, из которой Вы хотите конвертировать.
5
В какую штуковину из списка выше вы хотите конвертировать?
3
Сколько у вас штуковин для конвертации?
44
Результат:
2.75

In [59]:
df.query("To == '{d_solitude_from.get(sel_2)}' & From == '{d_solitude_from.get(sel_3)}'")

Empty DataFrame
Columns: [Conversion_type, From, To, Multiply_by]
Index: []

In [79]:
df.query('To == "{d_solitude_from.get(sel_2)}" & From == "{d_solitude_from.get(sel_3)}"')

Empty DataFrame
Columns: [Conversion_type, From, To, Multiply_by]
Index: []

In [17]:
d_solitude_from.get(sel_2)
d_solitude_from.get(sel_3)
# df[df["Conversion_type"] == type_get].From.unique()]
d_solitude_type
d_solitude_from
# sel_2
# sel_3

{1: 'Miles/hour', 2: 'Feet/sec', 3: 'Meters/sec', 4: 'Km/hour', 5: 'Knot'}

In [46]:
f'("To" == "{d_solitude_from.get(sel_2)}") & ("From" == "{d_solitude_from.get(sel_3)}")'

'("To" == "Gram") & ("From" == "Milligram")'

In [35]:
df[(df['From'] == d_solitude_from.get(sel_2)) & (df['To'] == d_solitude_from.get(sel_3))].iloc[0]["Multiply_by"]

0.3048

In [92]:
n = int(input())

def gen(n, prefix):
    if len(prefix) == n:
        print(prefix)
        return
    gen(n, prefix + '0')
    print(prefix)
    gen(n, prefix + '1')
    print(prefix)
gen(n, "")

3
000
00
001
00
0
010
01
011
01
0

100
10
101
10
1
110
11
111
11
1

In [91]:
n = int(input())

l = [i for i in range(1,n + 1)]
print(l)

def gen(n, prefix):
    if len(prefix) == n:
        print(prefix)
        return
    gen(n, prefix + [])
    gen(n, prefix + '1')

gen(n, "")

4
[1, 2, 3, 4]
0000
0001
0010
0011
0100
0101
0110
0111
1000
1001
1010
1011
1100
1101
1110
1111